* ,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* all elements will inherit the box-sizing from the body  */
    box-sizing: inherit;
}

html {
    /* fallback */
    font-size: 10px;
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}